<h1>About us</h1>
<p>This is my first attempt to get under the hood and understand how this world of zeros and ones works. Being a guy who loves consumer tech, but hasn't a clue how it all works is getting lame, so here we go!</p>
<p>Feel free to follow my progress...</p>
